<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8" *ngIf="authService.isAuthenticated()">
        <h1 class="blog-title">{{post.title}}</h1>
        <span>
            <p>by {{post.username}}</p>
        </span>
        <hr>
        <img class="myImg" [src]="imageToShow"/>
        <p [innerHTML]="post.content"></p>
        <hr>
        <br>
        <button class="btn btn-default btn-primary" style="float:left;" (click)="functionToDeleteItem()">delete post</button>
      </div>
      <div class="col-md-8" *ngIf="!authService.isAuthenticated()">
        <div class="container">
          <h3>plese click <a href="/login">here</a> to Login</h3>
        </div>
    </div>
    </div>
  </div>
</div>
